node_modules/
dist/
.next/
*.tsbuildinfo
.env
.env.local
.env.*.local
data/repos/*
data/repos-wiki/*
data/lfs/*
data/uploads/*
data/packages/*
data/codespaces/*
data/ci/*
data/backups/*
data/logs/*
data/ssh/*
!data/ssh/.gitkeep
!data/repos/.gitkeep
!data/repos-wiki/.gitkeep
!data/lfs/.gitkeep
!data/uploads/.gitkeep
!data/packages/.gitkeep
!data/codespaces/.gitkeep
!data/ci/.gitkeep
!data/backups/.gitkeep
!data/logs/.gitkeep
*.log
.DS_Store
coverage/
.turbo/
